@charset "utf-8";

/*! grid-system.css ⓒkim kyuree 2017 */

html {
   overflow-y: scroll; 
}

.grid-toggle-btn {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  top: 10px;
  right: 10px;
  border: none;
  padding: 1em 2em;
  background: #000;
  color: #fff;
  border-radius: 4px;
  transition: all 0.4s;
}
.grid-toggle-btn:hover,
.grid-toggle-btn:focus {
  background: #fe4940;
}



/* container module */

.show-grid {
    background: linear-gradient(transparent 23px, hsla(23, 40%, 73%, 0.78) 23px);
    background-size: 1px 24px;
}

.container {
    width:1020px;
    margin-left: auto;
    margin-right: auto;
}

.show-grid .container {
    position: relative;
}

.show-grid .container::before {
    content: "";
    position: absolute;
    z-index: 10000;
    top:0;
    left:0;
    right:0;
    height: 200vh;
    /* background: url(../images/960__10-60-10.png); 실제 이미지 사용방법 */
    
    /* CSS 배경 이미지 기술 활용 : 선형 그레디언트 (linear-gradient) */    
    background: linear-gradient(90deg, transparent 10px, hsla(32, 90%, 92%, 0.55) 10px, hsla(32, 90%, 92%, 0.55) 75px, transparent 75px);
    background-size: 85px 1px;    
}

.row {
    margin-bottom:24px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.col-1 { width:65px; }
.col-2 { width:150px; }
.col-3 { width:235px; }
.col-4 { width:320px; }
.col-5 { width:405px; }
.col-6 { width:490px; }
.col-7 { width:575px; }
.col-8 { width:660px; }
.col-9 { width:745px; }
.col-10 { width:830px; }
.col-11 { width:915px; }
.col-12 { width:1000px; }



/*push, pull module
margin, position*/


.push-1 {margin-left:95px;}
.push-2 {margin-left:180px;}
.push-3 {margin-left:265px;}
.push-4 {margin-left:350px;}
.push-5 {margin-left:435px;}
.push-6 {margin-left:520px;}
.push-7 {margin-left:605px;}
.push-8 {margin-left:690px;}
.push-9 {margin-left:775px;}
.push-10 {margin-left:860px;}
.push-11 {margin-left:945px;}



/*pre, post module
position*/
.pre-1, .pre-2, .pre-3, .pre-4, .pre-5, .pre-6, .pre-7, .pre-8, .pre-9, .pre-10, .pre-11, .post-1, .post-2, .post-3, .post-4, .post-5, .post-6, .post-7, .post-8, .post-9, .post-10, .post-11, .post-12 {position: relative;} 
.pre-1 {left:85px;}
.pre-2 {left:170px;}
.pre-3 {left:255px;}
.pre-4 {left:340px;}
.pre-5 {left:425px;}
.pre-6 {left:510px;}
.pre-7 {left:595px;}
.pre-8 {left:680px;}
.pre-9 {left:765px;}
.pre-10 {left:850px;}
.pre-11 {left:935px;}

.post-1 {right:85px;}
.post-2 {right:170px;}
.post-3 {right:255px;}
.post-4 {right:340px;}
.post-5 {right:425px;}
.post-6 {right:510px;}
.post-7 {right:595px;}
.post-8 {right:680px;}
.post-9 {right:765px;}
.post-10 {right:850px;}
.post-11 {right:935px;}


.floatRight {float:right;}