html {
    font-size:10px;
}
body {
    margin:0;
    background-color: #eee;
    box-sizing: border-box;
    font-size:1.6rem;
}

body *,
body *::before,
body *::after {
    box-sizing: inherit;
}


.container  {
    min-height: 100vh;
    padding:2%;
    background-color: #ccc;
}


.columns::after {
    content:"";
    display: block;
    clear: both;
}

.column {
    margin-bottom:2rem;
    padding:3rem;
    background-color: #aaa;
}


@media only screen and (min-width: 600px;) {
    .column {
        float:left;
        width:50%;
        
    }
}

@media only screen and (min-width: 600px;) {
    .column {
        float:left;
        width:50%;
        
    }
}